.hightlight {
    color: rgb(209, 24, 24)
}


.div_form_center{
    margin: 50px auto;
    max-width: 380px;   /* value of your choice which suits your alignment */
    min-height: 550px;
    box-shadow: 5px 10px rgb(245, 241, 241);
}

.field-invalid {
    border-color: rgb(255, 81, 0);
}

.button-radius-10 {
    border-radius: 10px;
}

.button-custom {
    border: 1px grey solid;
    background-color:  rgb(255, 255, 255);

}

.button-custom:hover {
    /* background-color:  rgb(201, 201, 201); */
    background-color:  rgb(226, 226, 226);
    color: #0072B5;
    border-color: green;
}

.facebook-ico {
    color: #0066ff;
}

.text-small {
    font-size: 90%;
}

.flip {
    transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

